<p id="notice"><%= notice %></p>

<p>
  <strong>Control:</strong>
  <%= @tx_land_grants_special_collection.control %>
</p>

<p>
  <strong>PDF URL:</strong>
  <%= link_to(@tx_land_grants_special_collection.pdf_url,@tx_land_grants_special_collection.pdf_url) %>
</p>

<p>
  <strong>Abstract URL:</strong>
  <%= link_to(@tx_land_grants_special_collection.glo_id, "http://www.glo.texas.gov/cf/land-grant-search/landgrants.cfm?intID=#{@tx_land_grants_special_collection.glo_id}") %>
</p>

<p>
  <strong>Glo:</strong>
  <%= @tx_land_grants_special_collection.glo_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @tx_land_grants_special_collection.district %>
</p>

<p>
  <strong>County:</strong>
  <%= @tx_land_grants_special_collection.county %>
</p>

<p>
  <strong>Page:</strong>
  <%= @tx_land_grants_special_collection.page %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @tx_land_grants_special_collection.abstract %>
</p>

<p>
  <strong>Abstract2:</strong>
  <%= @tx_land_grants_special_collection.abstract2 %>
</p>

<p>
  <strong>Orig grantee:</strong>
  <%= @tx_land_grants_special_collection.orig_grantee %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @tx_land_grants_special_collection.certificate %>
</p>

<p>
  <strong>Patentee:</strong>
  <%= @tx_land_grants_special_collection.patentee %>
</p>

<p>
  <strong>Patent date:</strong>
  <%= @tx_land_grants_special_collection.patent_date %>
</p>

<p>
  <strong>Patent no:</strong>
  <%= @tx_land_grants_special_collection.patent_no %>
</p>

<p>
  <strong>Patent vol:</strong>
  <%= @tx_land_grants_special_collection.patent_vol %>
</p>

<p>
  <strong>Part section:</strong>
  <%= @tx_land_grants_special_collection.part_section %>
</p>

<p>
  <strong>Survey blk tsp:</strong>
  <%= @tx_land_grants_special_collection.survey_blk_tsp %>
</p>

<p>
  <strong>Acres:</strong>
  <%= @tx_land_grants_special_collection.acres %>
</p>

<p>
  <strong>Adj county:</strong>
  <%= @tx_land_grants_special_collection.adj_county %>
</p>

<p>
  <strong>Adj acres:</strong>
  <%= @tx_land_grants_special_collection.adj_acres %>
</p>

<p>
  <strong>Class:</strong>
  <%= @tx_land_grants_special_collection.class %>
</p>

<p>
  <strong>File no:</strong>
  <%= @tx_land_grants_special_collection.file_no %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tx_land_grants_special_collection.comment %>
</p>

<p>
  <strong>Page:</strong>
  <%= @tx_land_grants_special_collection.page %>
</p>

<p>
  <strong>Class prefix:</strong>
  <%= @tx_land_grants_special_collection.class_prefix %>
</p>

<p>
  <strong>Class suffix:</strong>
  <%= @tx_land_grants_special_collection.class_suffix %>
</p>

<p>
  <strong>Internal comment:</strong>
  <%= @tx_land_grants_special_collection.internal_comment %>
</p>

<p>
  <strong>External comment:</strong>
  <%= @tx_land_grants_special_collection.external_comment %>
</p>

<p>
  <strong>Collection type:</strong>
  <%= @tx_land_grants_special_collection.collection_type %>
</p>

<p>
  <strong>Title date:</strong>
  <%= @tx_land_grants_special_collection.title_date %>
</p>

<p>
  <strong>Web display:</strong>
  <%= @tx_land_grants_special_collection.web_display %>
</p>

<p>
  <strong>Doc adoptable:</strong>
  <%= @tx_land_grants_special_collection.doc_adoptable %>
</p>

<p>
  <strong>Acquittance date:</strong>
  <%= @tx_land_grants_special_collection.acquittance_date %>
</p>

<p>
  <strong>Acquittance no:</strong>
  <%= @tx_land_grants_special_collection.acquittance_no %>
</p>

<p>
  <strong>Acquittance vol:</strong>
  <%= @tx_land_grants_special_collection.acquittance_vol %>
</p>

<p>
  <strong>Acquittance acres:</strong>
  <%= @tx_land_grants_special_collection.acquittance_acres %>
</p>

<p>
  <strong>Pdf exists:</strong>
  <%= @tx_land_grants_special_collection.pdf_exists %>
</p>

<p>
  <strong>Pdf size bytes:</strong>
  <%= @tx_land_grants_special_collection.pdf_size_bytes %>
</p>

<p>
  <strong>Pdf dir date:</strong>
  <%= @tx_land_grants_special_collection.pdf_dir_date %>
</p>

<p>
  <strong>Aka:</strong>
  <%= @tx_land_grants_special_collection.aka %>
</p>

<%= link_to 'Edit', edit_tx_land_grants_special_collection_path(@tx_land_grants_special_collection) %> |
<%= link_to 'Back', tx_land_grants_special_collections_path %>
