<p id="notice"><%= notice %></p>

<p>
  <strong>Field note:</strong>
  <%= @tx_land_grants_efn.field_note %>
</p>

<p>
  <strong>Control:</strong>
  <%= @tx_land_grants_efn.control %>
</p>

<p>
  <strong>Pdf exists:</strong>
  <%= @tx_land_grants_efn.pdf_Exists %>
</p>

<p>
  <strong>File no:</strong>
  <%= @tx_land_grants_efn.file_no %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tx_land_grants_efn.type %>
</p>

<%= link_to 'Edit', edit_tx_land_grants_efn_path(@tx_land_grants_efn) %> |
<%= link_to 'Back', tx_land_grants_efns_path %>
